.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
 .icon{
    width: 200px;
    float: left;
    height: 70px;
 }

 .logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
 }










nav{
    display: flex;
}
nav li{
    display: inline-block;
    padding:20px
}
.frm{
    background-color: pink;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.9;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 60px;
    text-decoration: none;
    margin: 5px 80px;
}

h1 {
    color: green;
}

  img:hover {
    opacity: 0.5;
  }

  #main-title{
    margin: 50px;
    
    background: url("5.jpg") no-repeat;
    position: relative;
    animation: repeatit 2s linear 0s infinite alternate;
}

@keyframes repeatit {
    from {left: 0%;}
    to {left: 50%;}
}

@media (max-width: 830px) {
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }